@use "../variables" as vars;
@use "../colors" as c;


#users-display {
  font-family: vars.$font-sub !important;
  
  #H2{
    font-family: vars.$font-sub !important;
    font-weight: 500;
    margin-bottom: 1.5em;
  }

  #user-info-display {
    position: relative;
    width: vars.$width;
    overflow-x: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .user-info-container {
      position: relative;
      max-width: 15em;
      min-width: 13em;
      padding: 1.25em 1.875em 1.875em 1.875em;
      display: flex;
      flex-direction: column;
      gap: 0.813em;
      background: c.$white;
      border: vars.$very-light-border;
      border-radius: vars.$small-radius;

      p,
      h2 {
        font-family: vars.$font-sub !important;
      }

      p {
        color: c.$blue !important;
        font-size: 0.875em !important;
      }

      .user-icon-container {
        width: max-content;
        padding: 0.563em;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;

        &.pink {
          background: c.$pink-15;
        }

        &.purple {
          background: c.$purple-15;
        }

        &.blue {
          background: c.$blue-15;
        }

        &.vivid {
          background: c.$vivid-15;
        }
      }
    }
  }
}