@use "../variables" as vars;
@use "../colors" as c;

#general-details {
  position: relative;
  width: vars.$width;
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  overflow: auto;

  small {
    color: c.$blue;
    font-family: vars.$font-sub;
  }

  .section-definer {
    position: relative;
    width: vars.$width;
    padding: 1.35em;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    border-bottom: 0.1em solid rgba(c.$dark-blue, 0.3);

    .section-content {
      position: relative;
      display: grid;
      grid-template-columns: minmax(9.375em, max-content) repeat(auto-fill, 11.25em) 15%;
      gap: 3em;
      
      @media (max-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        justify-content: start;
        
      }

      span {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
      }
    }
  }
}