@use "../variables" as vars;
@use "../colors" as c;

@forward "./userInfo";
@forward "./userTable";
@forward "./userId";
@forward "./tabRouter";
@forward "./generalDetails";

#dash-display {
  width: vars.$width;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}


#users-display {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  font-family: vars.$font-sub !important;
  
  #H2{
    font-family: vars.$font-sub !important;
    font-weight: 500;
  }
}
