@use "../../styles/variables" as vars;
@use "../../styles/colors" as c;
@use "../../styles/mixins" as mixins;

.dashboard {
  position: relative;
  max-width: 100em;
  min-width: 80em;
  height: vars.$height;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media (max-width: 1200px) {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
  }
  
  .dashboardContent {
    position: relative;
    display: flex;
    width: vars.$width;
    // height: max-content;
    overflow: hidden;
    
    .container{
      position: relative;
      background: c.$lt-white;
      width: vars.$width;
      height: 100%;
      overflow-x: hidden;
      padding: 3.75em;
      @include mixins.scrollbarConfig();
      flex: 4;

      @media (max-width: 768px) {
        padding: 5em 1em 2em 1em;
      }

      @media (max-width: 1024px) {
        flex: 3;
      }

      .mobileButton {
        position: absolute;
        top: 2%;
        left: 0;
        background: c.$dark-blue;
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
        padding: 0.5em;
        color: c.$white;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        z-index: 10;

        @media (max-width: 812px) {
          display: block;
        }
      }
    }
  }
}