$white: #FFFFFF;
$lt-white: #FBFBFB;
$dark-blue: #213F7D;
$dark-blue-10: #213F7D1A;
$dark-blue-6: #213F7D0F;
$blue: #545F7D;
$blue-15: #545F7D26;
$cyan: #39CDCC;
$cyan-15: #39CDCC26;
$pink: #DF18FF;
$pink-15: #DF18FF26;
$purple: #5718FF;
$purple-15: #5718FF26;
$red: #E4033B;
$orange: #F55F44;
$orange-15: #F55F4426;
$vivid: #FF3366;
$vivid-15: #FF336626;
$green: #39CD62;
$green-15: #39CD6226;
$yellow: #E9B200;
$yellow-15: #E9B20026;