@use "colors" as c;

@mixin bgTransition {
  transition: background .3s ease-in-out, color .3s ease-in-out;
}

@mixin hoverTransition {
  transition: transform .3s ease-in-out;

  &:hover, &:focus, &:focus-visible, &:focus-within{
    transform: scale(0.95);
  }
}

@mixin scrollbarConfig {
  scroll-behavior: smooth;
  
  @-moz-document url-prefix() {
    scrollbar-width: thin;
    scrollbar-color: c.$dark-blue c.$dark-blue-10;
  }

  ::-webkit-scrollbar {
    width: 0.3em;
    height: 0.5em;
    cursor: grabbing;
    transition: width 0.2s ease-in-out;
    
    &:hover, &:focus, &:focus-visible, &:focus-within {
      width: 0.2em;
    }
  }
  
  ::-webkit-scrollbar-track {
    background: c.$dark-blue-10;
  }
  
  ::-webkit-scrollbar-thumb {
    background: c.$dark-blue;
    border-radius: 2em;
  }
}