@mixin flexContainerCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

// @mixin flexCol {
//   display: flex;
//   flex-direction: column;
// }

@mixin flexContainerStart {
  display: flex;
  align-items: start;
}

@mixin buttonFilled {
  background: $cyan;
  color: $white;
  border: 1px solid $cyan
}

@mixin buttonFilledHover {
  background: $white;
  color: $cyan;
}

@mixin bgTransition {
  transition: background .3s ease-in-out, color .3s ease-in-out;
}

@mixin activeSideNav {
  position: relative;
  background: $dark-blue-6;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    
  }
}