@use "../variables" as vars;
@use "../colors" as c;

#top-nav {
  position: relative;
  width: vars.$width;
  display: flex;
  align-items: center;
  padding: 1.8em;
  box-shadow: vars.$shadow-lg;

  @media (max-width: 1024px) {
    width: 100%;
  }

  #image-view {
    position: relative;
    width: max-content;

    .logo {
      display: flex;
    }
    .icon {
      display: none;
    }

    @media (max-width: 768px) {
      .logo {
        display: none;
      }
      .icon {
        display: flex;
      }
    }
  }

  .profile {
    width: max-content;
    position: relative;
    display: flex;
    align-items: center;
    gap: 1em;
    // margin: 0 0 0 auto;

    #typo{
      text-decoration: underline;
      font-weight: 400;
    }

    aside {
      position: relative;
      display: flex;
      align-items: center;
      gap: 0.2em;

      .image {
        margin: 0 0.5em 0 0;
      }

      h4{
        display: block;
        @media (max-width: 768px) {
          display: none;
        }
      }
    }
  }
}