@use "../variables" as vars;
@use "../colors" as c;

.side-nav {
  position: relative;
  width: vars.$width;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.857em;
  padding: 1em 0;
  overflow-x: hidden;
  box-shadow: vars.$shadow-lg;

  @media (max-width: 812px) {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(vars.$width * 0.8);
    height: 100vh;
    z-index: 20;
    padding: 3em 0 1em 0;
    background: c.$white;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;

    #m-img{
      margin: 0 auto;
    }

    &.mobile-active {
      transform: translateX(0);
    }
  }


  #switch-org {
    display: flex;
    align-items: center;
    gap: .5em;
    margin: 0 auto;
  }

  #dash {
    position: relative;
    display: flex;
    align-items: center;
    // gap: 0.2em;
    padding: 0.625em 0 0.625em 1.3em;
    margin: 0 0 -1.5em 0;

    p {
      color: rgba(c.$dark-blue, 0.6);
      font-size: 1.188em;
      margin-left: -1.5em;
      font-weight: 400;
    }
  }

  .navigation {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.4em;

    .link,
    .list {
      padding: 0.625em 0 0.625em 1.875em;
      list-style: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 0.625em;
      text-decoration: none;
      color: rgba(c.$dark-blue, 0.6);

      &:hover,
      &:focus,
      &:focus-visible,
      &:focus-within {
        position: relative;
        background: c.$cyan-15;
      }

      &.active {
        position: relative;
        width: vars.$width;
        height: 100%;
        background: c.$cyan-15;
        color: c.$dark-blue;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 0.2em;
          height: 100%;
          background: c.$cyan;
        }
      }
    }
  }

  .logout {
    border-top: vars.$light-border;

    small {
      font-size: vars.$text-12;
      color: c.$dark-blue;
      padding: 0.625em 0 0.625em 1.875em;
    }
  }

  .nav-head {
    font-size: vars.$text-12;
    letter-spacing: 0.04em;
    padding: 0.625em 1.875em;
    font-weight: 500;
  }
}